# Eclipse
.classpath
.project
.settings/

# IntelliJ
*.iml
*.iws
.idea/*
!.idea/runConfigurations/

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Javadoc
JavaDoc/

#Project-specific stuff
TestServer/*
!TestServer/paper-1.16.4-416.jar
!TestServer/eula.txt
!TestServer/ops.json