# Eclipse
.classpath
.project
.settings/

# IntelliJ
*.iml
*.iws
.idea/*

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Javadoc
JavaDoc/

# Project specific
Server
install
src/main/java/me/trqhxrd/grapesrpg/event/player/DebugListener.java
